Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [20]:
my_string = "Sani Sharma"   # String
my_list = [1,3,4,6]         # list
my_float = 3.14             # float
my_tuple = (1,32,4,3,5)     # tuple

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [21]:
var1 = ' '
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1.

In [22]:
print(type(var1))      # string
print(type(var2))      # string
print(type(var3))      # list
print(type(var4))      # float

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

Q3. Explain the use of the following operators using an example:

(i) /
(ii) %
(iii) //
(iv) **

Ans:-  
(i) / (Division Operator):
The division operator (/) performs division between two operands and returns the quotient as a floating-point number.

(ii) % (Modulo Operator):
The modulo operator (%) returns the remainder of the division between two operands.

(iii) // (Floor Division Operator):
The floor division operator (//) performs division between two operands and returns the quotient as an integer by discarding the decimal part.

(iv) ** (Exponentiation Operator):
The exponentiation operator (**) raises the left operand to the power of the right operand.

Examples are given below;

In [23]:
a = 10
b = 3
result = a / b  # / (Division operator)
print(result)

result = a % b  # % (Modulo Operator)
print(result)

result = a // b  # // (Floor Division operator)
print(result)

result = a ** b  # ** (Exponentiation Operator)
print(result)

3.3333333333333335
1
3
1000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [24]:
my_list = [1, "Hello", 3.14, True, [1, 2, 3], {'name': 'John'}, (4, 5), None, "World", False]

for i in my_list:
    print(f"Element: {i} | Data Type: {type(i)}")

Element: 1 | Data Type: <class 'int'>
Element: Hello | Data Type: <class 'str'>
Element: 3.14 | Data Type: <class 'float'>
Element: True | Data Type: <class 'bool'>
Element: [1, 2, 3] | Data Type: <class 'list'>
Element: {'name': 'John'} | Data Type: <class 'dict'>
Element: (4, 5) | Data Type: <class 'tuple'>
Element: None | Data Type: <class 'NoneType'>
Element: World | Data Type: <class 'str'>
Element: False | Data Type: <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [25]:
A = 100
B = 10

count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"A is divisible by B {count} times.")

A is divisible by B 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [26]:
my_list1 = [12, 5, 18, 7, 9, 21, 14, 27, 33, 10, 6, 30, 17, 22, 8, 11, 25, 36, 15, 20, 13, 16, 19, 28, 24]

for num in my_list1:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

12 is divisible by 3.
5 is not divisible by 3.
18 is divisible by 3.
7 is not divisible by 3.
9 is divisible by 3.
21 is divisible by 3.
14 is not divisible by 3.
27 is divisible by 3.
33 is divisible by 3.
10 is not divisible by 3.
6 is divisible by 3.
30 is divisible by 3.
17 is not divisible by 3.
22 is not divisible by 3.
8 is not divisible by 3.
11 is not divisible by 3.
25 is not divisible by 3.
36 is divisible by 3.
15 is divisible by 3.
20 is not divisible by 3.
13 is not divisible by 3.
16 is not divisible by 3.
19 is not divisible by 3.
28 is not divisible by 3.
24 is divisible by 3.

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Ans:- 
Mutable Data Types:-
Mutable data types are those that can be modified or changed after they are created. This means you can update, add, or remove elements within the data type without creating a new object.
Examples include lists, dictionaries, and sets.

Immutable Data Types:-
Immutable data types are those that cannot be changed once they are created. This means any operation performed on an immutable object results in the creation of a new object.
Examples: Strings, tuples, integers, floats, booleans.

In [28]:
# Example of a mutable list
my_list = [1, 2, 3]
my_list.append(4)
print(my_list) 

# Example of an immutable string
my_string = "Hello"
new_string = my_string + " World"
print(new_string)

[1, 2, 3, 4]
Hello World